<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.BetterGMaps"
        tools:targetApi="31">

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
            
    <queries>
        <!-- Transit apps -->
        <package android:name="com.citymapper.app.release" />
        <package android:name="com.tranzmate" /> <!-- Moovit -->
        <package android:name="com.google.android.apps.maps" />
        <package android:name="ru.yandex.yandexnavi" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="geo" />
        </intent>
    </queries>

        <activity
            android:name=".StreetViewActivity"
            android:exported="false"
            android:theme="@style/Theme.BetterGMaps"/>
            
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.BetterGMaps"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"> 
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
